[submodule "mysql"]
	path = mysql
	url = https://github.com/su-mikado-github/scrsystem_mysql.git
[submodule "backend"]
	path = backend
	url = https://github.com/su-mikado-github/scrsystem_backend.git
